body{
    /* background-image:url('https://78.media.tumblr.com/10cce6d8b6a31e033ea25b156226c99c/tumblr_npws8frme51taknieo1_500.gif'); */
    background-color:lightgrey;
   /* background-size:cover; */
   color:black;
   font-family:serif;
   font-size:16px;
   height:500vh;
}
table,tr,td{
    border:solid #000000;
    border-width:1px;
    color:black;
    background-color: #095FD6;

}
table{
    width:90%;
    margin:19px;
    font-size:14px;
}
input{
    text-align:center;
}
.grandparent{
    border:solid black;
    border-width:.2px;
    background-color:lightgray;
    height:auto;
    padding:2em;
}
.docToggler{
    display:flex;
    margin-top:16px;
    justify-content: space-evenly;
}
.docToggler:hover{
    color:orange;
    display:flex;
    margin-top:16px;
    justify-content: space-evenly;
}
#d_input{
    border-radius:22px;
    background-color:lemonchiffon;
}
.apContainer{
    border:solid black;
    color:lemonchiffon;
    background-color: #095FD6;
    padding:9px;
    margin-bottom: 3vh;
    border-width:.2px;
    display:flex;
    font-size:12px;
    justify-content: space-evenly
    ;
}
.offcanvas-title{
    text-align: center;
}
.subBtn{
    border-radius:12px;
    font-size:12px;
    width:8%;
}
.nav-item{
    margin:1px;
    font-size:14px;
    border:solid black;
    border-width:.4px;
}
.laneContainer{
    display:flex;
    margin-top:32px;
    width:100%;
}
.lane{
    height:auto
}
.invoiceTitle{
    margin:12px;
}
.invoiceTag{
    margin:4px;
}
.freeParking{
    border:solid lemonchiffon;
    border-width:.4px;
    width:85%;
    color:lemonchiffon;
    background-color:#095FD6;
}

.offcanvas-header{
    background-color:grey;
    color:lemonchiffon;
    text-align:center;
}
.offcanvas-body{
    background-color:#0660D5;
    color:lemonchiffon;
}
.rowCreator{
    padding:12px;
    display: flex;
}
.buttonHolster{
    padding:8px;
    display:flex;
    justify-content: space-evenly;
}
.inputLanding{
    border:solid black;
    background-image:url('https://www.underconsideration.com/brandnew/archives/capgemini_logo_signature.gif');
    background-size:cover;
    height:42vh;
    margin:8px;
    border-width:.2px;
}
.addNput{
    margin:8px;
    font-size:20px;
    height:40px;
    width:40px;
    border-radius:50%;
}
.addNput:hover{
    margin:9px;
    height:40px;
    background-color:green;
    transition:.3s;
    color:lemonchiffon;
    border-radius:50%;
}
.capLogo{
    width:90%;
    margin:22px;
}
.queryContainer{
    justify-content: space-around;
    background-color: #095FD6;
    padding:1em;
    border-radius:22px;
}
.qemail{
    display: flex;
    padding:22px;
    margin:2px;
}
.qFlip{
    display: flex;
    padding:12px;
    margin:2px;

}
#qnpt{
    width:20%;
    margin:4px;
    border-radius:12px;
}
.qs{
    text-align:left;
    color:lemonchiffon;
    margin-top:12px;
    font-size:22px;
}
.qscreen{
    width:90%;
    height:22vh;
    margin:12px;
    border:solid lemonchiffon;
    background-color: lemonchiffon;
}
.demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.demo td {
    border:1px solid #C0C0C0;
    padding:5px;
}
.wholeContainer{
    background-color:#095FD6;
    display: flex;
}
.sliderMenu{
    width:15%;
    margin:4px;
    /* background-color:#095FD6; */
    border-radius:12px;
    border:solid lemonchiffon;
    background-color:lightgray;
    border-width:.2px;
    height:75vh;
    margin:12px;
}
.dashboardField{
    width:85%;
    justify-content: space-evenly;
}

.portalShow{
    /* border:solid lemonchiffon; */
    border-width: .3px;
    display:flex;
}
.windowDisplay{
    border:solid lemonchiffon;
    border-radius:12px;
    color:black;
    margin:1em;
    text-align: center;
    height:25vh;
    border-width:.2px;
    /* background-color: lightgray; */
    background-color:lightgray;
    width:25%;

}
.chartContainer{
    background-color:lightgray;
    height:42vh;
    display: flex;
    border-radius:22px;
    padding-top:12px;
    margin:1em;
    justify-content: space-evenly;
}
.chartCol{
    /* border:solid lemonchiffon; */
    margin:3px;
    color:black;
    text-align:center;
    width: 22%;
}
.topTItle{
    margin-top:44px;
}
.numberBox{
    font-size:45px;

}
.accordion-item{
    margin:6%;
    border-radius:12px;
}
.numberBox:hover{
    color:green;
    font-size:55px;
    transition:.3s;
}
.btnBasket{
    margin-top:60%;
    margin: 15px;
}
.capTain{
    width:100%;
}
.addSumn{
    margin:2%;
    font-size:22px;
    width:33%;
}
.organizer{
    text-align:center;
    border:solid navy;
    border-width:.2px;
}
.smlogo{
    height:90px;
    border:solid lightgray;
    border-radius:50%;
    background-color:lightgray;
    margin-top:72px;

}